<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Edit Profile</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/styles/timetablejs.css">
</head>

<body>
  <%- include('partials/nav.ejs')%>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">
            <br><br>
            Welcome Home
          </h2>
        </div>
      </div>
    </section>
    <section class='main'>
      <div class="container">
        <section class="accordions">
          <article class="accordion is-active">
            <div class="accordion">
              <div class="accordion-header">
                <p>My Info</p>
                <button class="toggle" aria-label="toggle"></button>
              </div>
              <div class="accordion-body">
                <div class="accordion-content">
                  <!-- ############################# MY INFO ############################# -->
<<<<<<< HEAD

=======
>>>>>>> 30238cb7a028e74493cdae11762f88ab784df46b
                  <div class="field">
                    <label class="label">Name
                      <% if (typeid === 3) { %>
                        <span class="tag is-link">Admin</span>
                      <% } %>
                    </label>
                    <div class="control">
                      <input class="input" id='name' type="text" placeholder="Name" value="">
                    </div>
                  </div>
                  <!-- ### Email ### -->
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                      <input class="input" id='email' type="email" placeholder="Email" value="">
                    </div>
                  </div>
                  <!-- ### Phone Number ### -->
                  <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="control">
                      <input class="input" id='phone' type="tel" placeholder="Phone #" value="">
                    </div>
                  </div>
                  <!-- ### Password ### -->
                  <!--                   <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                      <input class="input" type="password" placeholder="Password">
                    </div>
                  </div> -->
                  <!-- ### Buttons ### -->
                  <form>
                    <div id='updateButton' class="buttons is-right">
                      <span class="button is-success">Save changes</span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class='employee_schedules'>
              <% if (typeid === 3) { %>
                <div>
                  <%- include('partials/employee_schedules.ejs')%>
                </div>
                <div>
                  <%- include('partials/user_management.ejs') %>
                </div>
                <% } else if (typeid === 2) { %>
                  <div>
                    <%- include('partials/employee_schedules.ejs')%>
                  </div>
                  <% } else { %>
                    <div>
                      <%- include('partials/customer_history.ejs')%>
                    </div>
                    <% } %>
            </div>
      </div>
      </section>
    </section>
    <%- include('partials/footer.ejs')%>
</body>

</html>
